
h1{
  color: rgb(209, 26, 26);
}

h2{
  color: rgb(208, 49, 49);
}

h3{
  color: rgb(76, 73, 73);
}


h4{
  color: rgb(235, 15, 151);
}

h5{
  color: rgb(8, 10, 10);
}

body{
  background-color: rgba(212, 212, 212, 0.926);
}